<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footerFragment1">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<script>
					document.write(new Date().getFullYear())
				</script>
				&copy; Company Name
			</div>
			<div class="col-md-6">
				<div class="text-md-end footer-links d-none d-sm-block">
					<a href="javascript:void(0);">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer" th:fragment="footerFragment2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<script>
					document.write(new Date().getFullYear())
				</script>
				&copy; Company Name2
			</div>
			<div class="col-md-6">
				<div class="text-md-end footer-links d-none d-sm-block">
					<a href="javascript:void(0);">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</footer>

</html>