<!doctype html>
<!-- <html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Menu</title>

  <link rel="icon" href="data:,">

  <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
  <script type="text/javascript" th:src="@{/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/js/sweetalert2/sweetalert2.js}"></script>
  <link rel="stylesheet" th:href="@{/js/sweetalert2/sweetalert2.css}" />
  <script type="importmap">
{
	"imports": {
		"vue": "[[@{/js/vuejs-3.2.41/vue.esm-browser.js}]]"
	}
}
</script>
</head>

<body>
  <div id="app">
    <div class="container">

      <div class="row">

        <!-- 메뉴 트리 -->
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">메뉴</h5>
              <ul>
                <tree-menu :prop-menu-obj="this.rootMenu"></tree-menu>
              </ul>
            </div>
          </div>
        </div>

        <!-- 메뉴 수정/삭제 -->
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="submitEditMenuForm">
                <div class="row mb-3">
                  <div class="col-6">
                    <h5 class="header-title">메뉴 수정/삭제</h4>
                  </div>
                  <div class="col-6 text-end">
                    <button type="submit" class="btn btn-primary" :disabled="!isEditFormInputActivated">수정</button>
                    <button type="button" class="btn btn-primary" :disabled="!isEditFormInputActivated" @click="deleteMenuButtonClick">삭제</button>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴ID</label>
                  <div class="col-8">
                    <input class="form-control" id="editInputMenuId" type="text" v-model="editMenu.menuId" disabled />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴명</label>
                  <div class="col-8">
                    <input class="form-control" id="editInputMenuName" type="text" v-model="editMenu.menuName" maxlength="60" required="required" :disabled="!isEditFormInputActivated" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴 URL</label>
                  <div class="col-8">
                    <input class="form-control" id="editInputMenuUrl" type="text" v-model="editMenu.menuUrl" maxlength="60" required="required" :disabled="!isEditFormInputActivated" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴 순서</label>
                  <div class="col-8">
                    <input class="form-control" id="editInputMenuOrder" type="number" :disabled="!isEditFormInputActivated" v-model.number="editMenu.menuOrder" maxlength="4" required="required"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">출력여부</label>
                  <div class="col-8 align-self-center">
                    <input class="form-check-input" id="editMenuUse" type="radio" name="editMenuUseStateGroup" v-model="editMenu.useState" value="Y" :disabled="!isEditFormInputActivated">
                    <span class="form-check-label me-3" for="editMenuUse">출력</span>
                    <input class="form-check-input" id="editMenuNotUse" type="radio" name="editMenuUseStateGroup" v-model="editMenu.useState" value="N" :disabled="!isEditFormInputActivated">
                    <span class="form-check-label" for="editMenuNotUse">출력안함</span>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label" for="editMenuParentMenuSelect">상위 메뉴</label>
                  <div class="col-8">
                    <!-- editMenu의 parentMenu 객체가 없으면 v-model에서 menuId 에러 -->
                    <select id="editMenuParentMenuSelect" class="form-select" v-model="editMenu.parentMenu.menuId" :disabled="!isEditFormInputActivated">
                      <option v-for="(idName, index) in menuIdNames" :key="idName.menuId" :value="idName.menuId">{{ idName.menuName }}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- 하위 메뉴 추가 -->
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="submitAddMenuForm">
                <div class="row mb-3">
                  <div class="col-6">
                    <h5 class="header-title">하위 메뉴 추가</h4>
                  </div>
                  <div class="col-6 text-end">
                    <button type="submit" class="btn btn-primary" :disabled="!isAddFormInputActivated">저장</button>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴명</label>
                  <div class="col-8">
                    <input class="form-control" id="addInputMenuName" type="text" v-model="addMenu.menuName" maxlength="60" required="required" :disabled="!isAddFormInputActivated" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴 URL</label>
                  <div class="col-8">
                    <input class="form-control" id="addInputMenuUrl" type="text" v-model="addMenu.menuUrl" maxlength="60" required="required" :disabled="!isAddFormInputActivated" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">메뉴 순서</label>
                  <div class="col-8">
                    <input class="form-control" id="addInputMenuOrder" type="number" :disabled="!isAddFormInputActivated" v-model.number="addMenu.menuOrder" maxlength="4" required="required"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">출력여부</label>
                  <div class="col-8 align-self-center">
                    <input class="form-check-input" id="addMenuUse" type="radio" name="addMenuUseStateGroup" v-model="addMenu.useState" value="Y" :disabled="!isAddFormInputActivated">
                    <span class="form-check-label me-3" for="addMenuUse">출력</span>
                    <input class="form-check-input" id="addMenuNotUse" type="radio" name="addMenuUseStateGroup" v-model="addMenu.useState" value="N" :disabled="!isAddFormInputActivated">
                    <span class="form-check-label" for="addMenuNotUse">출력안함</span>
                  </div>
                </div>
                <div class="row mb-2">
                  <label class="col-4 col-form-label">상위 메뉴ID</label>
                  <div class="col-8">
                    <input class="form-control" id="addInputMenuParentMenu" type="text" v-model="addMenu.parentMenu.menuId" disabled />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div> <!-- row -->

    </div> <!-- container -->
  </div> <!-- app -->

  <script type="module">
    import { createApp, ref } from 'vue';
    import TreeMenu from '[[@{/js/vuejs-component/TreeMenu.js}]]';

    const app = createApp({
      components: {
        TreeMenu
      },
      data() {
        return {
          // 메뉴 데이터
          rootMenu: {},

          // 메뉴 수정
          editMenu: {
            parentMenu: {},
          },
          menuIdNames: [],

          // 메뉴 추가
          addMenu: {
            parentMenu: {},
          },

          // 메뉴 삭제
          deleteMenu: {},
        }
      },
      computed: {
        isEditFormInputActivated() {
          if (this.editMenu && this.editMenu.menuId && (this.editMenu.menuId >= 1)) {
            return true;
          }
          return false;
        },
        isAddFormInputActivated() {
          if (this.addMenu && this.addMenu.parentMenu && (this.addMenu.parentMenu.menuId >= 1)) {
            return true;
          }
          return false;
        }
      },
      mounted() {
        this.fetchData();
      },
      methods: {
        // 화면 데이터
        async fetchData() {
          const res = await fetch('[[@{/menus}]]');
          if (res.ok) {
            const body = await res.json();
            const menuData = body.data;

            this.menuIdNames = menuData.menuIdNames;
            // console.log('this.menuIdNames: ', this.menuIdNames);
            menuData.menuIdNames = undefined;

            this.rootMenu = menuData;
            // console.log('this.rootMenu: ', this.rootMenu);
          } else {
            res.json().then(body => Swal.fire({ text: body.message, icon: "error" }));
          }
        },

        // 메뉴 수정
        submitEditMenuForm() {
          // console.log('submitEditMenu');
          console.log(JSON.stringify(this.editMenu));
          this.menuUpdate();
        },
        async menuUpdate() { //메뉴 수정
          const res = await fetch(`[[@{/menu}]]`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(this.editMenu),
          });
          if (res.ok) {
            this.editMenu = {
              parentMenu: {},
            };
            Swal.fire({ text: "수정 되었습니다.", icon: "success" }).then((result) => {
              if (result.isConfirmed || result.isDismissed) {
                window.location.reload(true);
              }
            });
          } else {
            res.json().then(body => Swal.fire({ text: body.message, icon: "error" }));
          };
        },

        //메뉴 추가
        submitAddMenuForm() {
          console.log(JSON.stringify(this.addMenu));
          this.menuInsert();
        },
        async menuInsert() { //메뉴 추가
          const res = await fetch(`[[@{/menu}]]`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(this.addMenu),
          });
          if (res.ok) {
            this.addMenu = {
              parentMenu: {},
            };
            Swal.fire({ text: "추가 되었습니다.", icon: "success" }).then((result) => {
              if (result.isConfirmed || result.isDismissed) {
                window.location.reload(true);
              }
            });
          } else {
            res.json().then(body => Swal.fire({ text: body.message, icon: "error" }));
          }
        },

        //메뉴 삭제
        deleteMenuButtonClick() {
          // console.log('deleteMenuButtonClick');
          const tempDeleteMenu = {};
          tempDeleteMenu.menuId = this.editMenu.menuId;
          this.deleteMenu = tempDeleteMenu;
          this.menuDelete();
        },
        async menuDelete() { //메뉴 삭제
          const res = await fetch(`[[@{/menu}]]`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(this.deleteMenu),
          });
          if (res.ok) {
            this.deleteMenu = {};
            Swal.fire({ text: "삭제 되었습니다.", icon: "success" }).then((result) => {
              if (result.isConfirmed || result.isDismissed) {
                window.location.reload(true);
              }
            });
          } else {
            res.json().then(body => Swal.fire({ text: body.message, icon: "error" }));
          }
        },
      },
    });

    app.mount('#app')
  </script>
</body>

</html>